SERIES

In [ ]:


import pandas as pd

sampledata = {
   'x' : [4, 65, 436, 3, 9],
   'y' : [7, 0, 3, 897, 9]
}
df = pd.DataFrame(sampledata)
print(df)

In [ ]:
#1.Write a Pandas program to compare the elements of two Pandas series. Sample Series [4,65,436,3,9], [7,0,3,897,9]

import pandas as pd

x = [4, 65, 436, 3, 9]
y = [7, 0, 3, 897, 9]

print(pd.Series(x))
print("\n")
print(pd.Series(y))

0      4
1     65
2    436
3      3
4      9
dtype: int64


0      7
1      0
2      3
3    897
4      9
dtype: int64

In [25]:
print(pd.Series(x) == pd.Series(y))

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [26]:
print(pd.Series(x) <= pd.Series(y))

0     True
1    False
2    False
3     True
4     True
dtype: bool

In [27]:
print(pd.Series(x) >= pd.Series(y))

0    False
1     True
2     True
3    False
4     True
dtype: bool

2.Write a Pandas program to add, subtract, multiply and divide two Pandas series. 
Sample Series: [2,4,6,8,14], [1,3,5,7,9]

In [ ]:
import pandas as pd

a = pd.Series([2,4,6,8,14])
b = pd.Series([1,3,5,7,9])

print("Addition")
print(a + b)
print("\nSubstraction")
print(a - b)
print("\nMultiplication")
print(a * b)
print("\nDivision")
print(a / b)

In [28]:
#3.Write a Pandas program to convert a dictionary to a Pandas series. 
#Sample dictionary: dictionary1 = {‘Josh’: 24, ‘Sam’: 36, ‘Peace’: 19, ‘Charles’: 65, ‘Tom’: 44}
import pandas as pd

dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}
df = pd.Series(dictionary1)
print(df)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [ ]:
#4.Write a Pandas program to convert a given series to an array.
#Sample series: [‘Love’, 800, ‘Joy’, 789.9, ‘Peace’, True]

import pandas as pd
import numpy as np

# Sample series
s = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])

# Convert the series to a NumPy array
arr = s.to_numpy()

# Display the result
print("Original Series:")
print(s)

print("\nConverted NumPy Array:")
print(arr)

Original Series:
0     Love
1      800
2      Joy
3    789.9
4    Peace
5     True
dtype: object

Converted NumPy Array:
['Love' 800 'Joy' 789.9 'Peace' True]
object

In [102]:
#5.Write a Pandas program to display the most frequent value in the given series and replace everything else as ‘Other’ in the series. 
# (Use the ‘HomeTeamGoals’ column in the dataset provided)
import pandas as pd

df = pd.read_csv('AfricaCupofNationsMatches.csv')

# Clean column names
df.columns = df.columns.str.strip()

x = df['HomeTeamGoals'].mode()[0]
print(f"Most frequent value in 'HomeTeamGoals': {x}\n")

# Replace all other values with 'Other'
df['HomeTeamGoals'] = df['HomeTeamGoals'].apply(lambda x: x if x == most_frequent else 'Other')

# Show result
print(df.head(10))

Most frequent value in 'HomeTeamGoals': 1.0

   Year       Date Time   HomeTeam       AwayTeam HomeTeamGoals  \
0  1957  10-Feb-57  NaN     Sudan           Egypt           1.0
1  1957  10-Feb-57  NaN  Ethiopia    South Africa         Other
2  1957  16-Feb-57  NaN     Egypt        Ethiopia         Other
3  1959  22-May-59  NaN      Egypt       Ethiopia         Other
4  1959  25-May-59  NaN     Sudan        Ethiopia           1.0
5  1959  29-May-59  NaN      Egypt          Sudan         Other
6  1962  14-Jan-62  NaN  Ethiopia         Tunisia         Other
7  1962  18-Jan-62  NaN      Egypt         Uganda         Other
8  1962  20-Jan-62  NaN   Tunisia          Uganda         Other
9  1962  21-Jan-62  NaN  Ethiopia           Egypt         Other

   AwayTeamGoals              Stage  \
0            2.0         Semifinals
1            NaN         Semifinals
2            0.0              Final
3            0.0   Final Tournament
4            0.0   Final Tournament
5            1.0   Final Tournament
6            2.0         Semifinals
7            1.0         Semifinals
8            0.0  Third place match
9            2.0              Final

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium
7                                                NaN  Hailé Sélassié Stadium
8                                                NaN  Hailé Sélassié Stadium
9                              win after extra time   Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0
7   Addis Ababa     30000.0
8   Addis Ababa         NaN
9   Addis Ababa         NaN

                                 DATA FRAMES

In [1]:
import pandas as pd

df = pd.read_csv('AfricaCupofNationsMatches.csv')

In [ ]:
#1.Write a Pandas program to read the given csv file.

print(df)

In [ ]:
#2.Write a Pandas program to get the first 7 rows of your data frame. 

print(df.head(7))

In [ ]:
#3.Write a Pandas program to select the ‘HomeTeam’, ‘AwayTeam’, ‘HomeTeamGoals’ and ‘AwayTeamGoals’ columns from your data frame.

x = df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]
print(x)

In [ ]:
#4.Write a Pandas program to select the rows where Egypt appears.

count = ((df['AwayTeam'] == 'Egypt') | (df['HomeTeam'] == 'Egypt')).sum()
print(count)

In [ ]:
#5.Write a Pandas program to count the number of rows and columns of your data frame.

df.shape

In [ ]:
#8.Write a Pandas program to change the “AwayTeamGoals” in the 3rd row to 10.
df.loc[2, 'AwayTeamGoals'] = 10
df.head()

In [ ]:
#9.Write a Pandas program to sort the DataFrame first by ‘HomeTeam’ in ascending order, then by ‘HomeTeamScores’ in descending order.
sorted_df = df.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])

print(sorted_df)

In [ ]:
#10.Write a Pandas program to get list from DataFrame column headers.
print(df.columns)

columns_list = df.columns.tolist()
print(columns_list)

In [ ]:
#11.Write a Pandas program to append a column of your choice to your DataFrame.


df['TicketSold'] = 1000 

# Save the updated DataFrame back to the CSV file
df.to_csv('AfricaCupofNationsMatches.csv', index=False)

print("Updated DataFrame:")
print(df)

In [2]:
df.shape

(622, 12)

In [2]:
#12.Write a Pandas program to add 2 rows to your DataFrame.


new_rows = pd.DataFrame({
    'Year': [2021, 2022],
    'Date': ['2021-06-13', '2022-06-14'],
    'Time': ['18:00', '20:00'],
    'HomeTeam': ['Team E', 'Team F'],
    'AwayTeam': ['Team G', 'Uganda'],
    'HomeTeamGoals': [3, 0],
    'AwayTeamGoals': [1, 3],
    'Stage': ['Group', 'Group'],
    'SpecialWinConditions': [None, None],
    'Stadium': ['Stadium C', 'Stadium D'],
    'City': ['City C', 'City D'],
    'Attendance': [12000, 18000]
})

# Add the new rows to the original DataFrame
df = pd.concat([df, new_rows], ignore_index=True)

# Display the updated DataFrame
print("\nDataFrame after adding new rows:")
print(df.tail(10))

DataFrame after adding new rows:
     Year                       Date   Time      HomeTeam       AwayTeam  \
614  2019  10 July 2019 (2019-07-10)  18:00      Senegal           Benin
615  2019  10 July 2019 (2019-07-10)  21:00      Nigeria    South Africa
616  2019  11 July 2019 (2019-07-11)  18:00  Ivory Coast         Algeria
617  2019  11 July 2019 (2019-07-11)  21:00   Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00      Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00      Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00      Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00      Senegal         Algeria
622  2021                 2021-06-13  18:00        Team E         Team G
623  2022                 2022-06-14  20:00        Team F         Uganda

     HomeTeamGoals  AwayTeamGoals                 Stage  \
614            1.0            0.0        Quarter-finals
615            2.0            1.0        Quarter-finals
616            1.0            1.0        Quarter-finals
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final
622            3.0            1.0                 Group
623            0.0            3.0                 Group

               SpecialWinConditions                      Stadium    City  \
614                             NaN              30 June Stadium   Cairo
615                             NaN  Cairo International Stadium   Cairo
616   Algeria win on Penalities 3-4                 Suez Stadium    Suez
617                             NaN             Al Salam Stadium   Cairo
618           win after extra time               30 June Stadium   Cairo
619                             NaN  Cairo International Stadium   Cairo
620                             NaN             Al Salam Stadium   Cairo
621                             NaN  Cairo International Stadium   Cairo
622                            None                    Stadium C  City C
623                            None                    Stadium D  City D

     Attendance
614      5798.0
615     48343.0
616      8233.0
617      7568.0
618      9143.0
619     49775.0
620      6340.0
621     75000.0
622     12000.0
623     18000.0

In [7]:
df.shape

(624, 12)

In [3]:
#13.Write a Pandas program to change the country ‘Uganda’ to ‘China’ in the ‘AwayTeam’ column of the DataFrame.


df['AwayTeam'].replace('Uganda', 'China', inplace = True)
df.tail()

C:\Users\user\AppData\Local\Temp\ipykernel_10616\2370994351.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['AwayTeam'].replace('Uganda', 'China', inplace = True)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0
622,2021,2021-06-13,18:00,Team E,Team G,3.0,1.0,Group,None,Stadium C,City C,12000.0
623,2022,2022-06-14,20:00,Team F,China,0.0,3.0,Group,None,Stadium D,City D,18000.0

In [6]:
count_uganda = (df['AwayTeam'] == 'Uganda').sum()
count_china = (df['AwayTeam'] == 'China').sum()

print(f"\nCount of 'Uganda' after replacement: {count_uganda}")
print(f"Count of 'China' after replacement: {count_china}")

Count of 'Uganda' after replacement: 0
Count of 'China' after replacement: 1

In [12]:
#14.Write a Pandas program to reset index in your DataFrame.

# Set a custom index for demonstration
df.set_index('Year', inplace=True)


print("\nDataFrame with custom index:")
print(df)


df_reset = df.reset_index()

# Display the DataFrame after resetting the index
print("\nDataFrame after resetting the index:")
print(df_reset)

DataFrame with custom index:
                           Date   Time   HomeTeam       AwayTeam  \
Year
1957                  10-Feb-57    NaN     Sudan           Egypt
1957                  10-Feb-57    NaN  Ethiopia    South Africa
1957                  16-Feb-57    NaN     Egypt        Ethiopia
1959                  22-May-59    NaN      Egypt       Ethiopia
1959                  25-May-59    NaN     Sudan        Ethiopia
...                         ...    ...        ...            ...
2019  14 July 2019 (2019-07-14)  21:00   Algeria         Nigeria
2019  17 July 2019 (2019-07-17)  21:00   Tunisia         Nigeria
2019  19 July 2019 (2019-07-19)  21:00   Senegal         Algeria
2021                 2021-06-13  18:00     Team E         Team G
2022                 2022-06-14  20:00     Team F         Team H

      HomeTeamGoals  AwayTeamGoals                 Stage  \
Year
1957            1.0            2.0            Semifinals
1957            NaN            NaN            Semifinals
1957            4.0            0.0                 Final
1959            4.0            0.0      Final Tournament
1959            1.0            0.0      Final Tournament
...             ...            ...                   ...
2019            2.0            1.0           Semi-finals
2019            0.0            1.0  Third place play-off
2019            0.0            1.0                 Final
2021            3.0            1.0                 Group
2022            0.0            1.0                 Group

                                   SpecialWinConditions  \
Year
1957                                                NaN
1957  Ethiopia  wins due to disqualification of othe...
1957                                                NaN
1959                                                NaN
1959                                                NaN
...                                                 ...
2019                                                NaN
2019                                                NaN
2019                                                NaN
2021                                               None
2022                                               None

                          Stadium       City  Attendance
Year
1957            Municipal Stadium   Khartoum     30000.0
1957                          NaN        NaN         NaN
1957            Municipal Stadium   Khartoum     30000.0
1959        Prince Farouk Stadium      Cairo     30000.0
1959        Prince Farouk Stadium      Cairo     20000.0
...                           ...        ...         ...
2019  Cairo International Stadium      Cairo     49775.0
2019             Al Salam Stadium      Cairo      6340.0
2019  Cairo International Stadium      Cairo     75000.0
2021                    Stadium C     City C     12000.0
2022                    Stadium D     City D     18000.0

[624 rows x 11 columns]

DataFrame after resetting the index:
     Year                       Date   Time   HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN     Sudan           Egypt
1    1957                  10-Feb-57    NaN  Ethiopia    South Africa
2    1957                  16-Feb-57    NaN     Egypt        Ethiopia
3    1959                  22-May-59    NaN      Egypt       Ethiopia
4    1959                  25-May-59    NaN     Sudan        Ethiopia
..    ...                        ...    ...        ...            ...
619  2019  14 July 2019 (2019-07-14)  21:00   Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00   Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00   Senegal         Algeria
622  2021                 2021-06-13  18:00     Team E         Team G
623  2022                 2022-06-14  20:00     Team F         Team H

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0            0.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final
622            3.0            1.0                 Group
623            0.0            1.0                 Group

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
619                                                NaN
620                                                NaN
621                                                NaN
622                                               None
623                                               None

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
619  Cairo International Stadium      Cairo     49775.0
620             Al Salam Stadium      Cairo      6340.0
621  Cairo International Stadium      Cairo     75000.0
622                    Stadium C     City C     12000.0
623                    Stadium D     City D     18000.0

[624 rows x 12 columns]

In [71]:
#15.Write a Pandas program to check whether the ‘Stadium’ column is present in your DataFrame or not.
if 'Stadium' in df.columns:
    print("Stadium is present in the dataframe")
else:
    print("Stadium not found in dataframe")

Stadium is present in the dataframe

In [73]:
#16.Write a Pandas program to convert the datatype of the ‘AwayTeamGoals’. (int to float)

df['AwayTeamGoals'] = df['AwayTeamGoals'].astype(float)
df.dtypes

Date                     object
Time                     object
HomeTeam                 object
AwayTeam                 object
HomeTeamGoals           float64
AwayTeamGoals           float64
Stage                    object
SpecialWinConditions     object
Stadium                  object
City                     object
Attendance              float64
Date                     object
Time                     object
dtype: object

In [ ]:
#17.Write a Pandas program to remove the last 10 rows from your DataFrame.
import pandas as pd

df = pd.read_csv('AfricaCupofNationsMatches.csv')

print(df.shape)
print(df.tail(30))

print("\nAfter removing the last rows")
df = df[:-10]
df

In [82]:
df.shape

(612, 12)

In [ ]:
#18.Write a Pandas program to iterate over rows in your DataFrame.
"""
Write Python code using the Pandas library that goes through each row of a DataFrame one at a time so that you can access and possibly process the data in each row.
"""
# Iterate over rows using itertuples()
df.columns = df.columns.str.strip()

# Confirm cleaned column names
print("Column names:")
print(df.columns.tolist())

# Iterate over rows using itertuples()
print("\nIterating over rows using itertuples():")
for row in df.itertuples(index=True):
    print(f"Index: {row.Index}, Year: {row.Year}, Date: {row.Date}, Time: {row.Time}, "
          f"HomeTeam: {row.HomeTeam}, AwayTeam: {row.AwayTeam}, HomeTeamGoals: {row.HomeTeamGoals}, "
          f"AwayTeamGoals: {row.AwayTeamGoals}, Stage: {row.Stage}, "
          f"SpecialWinConditions: {row.SpecialWinConditions}, Stadium: {row.Stadium}, "
          f"City: {row.City}, Attendance: {row.Attendance}")

In [23]:
#19.Write a Pandas program to change the order of your DataFrame columns.
# Check current column names
import pandas as pd

df = pd.read_csv('AfricaCupofNationsMatches.csv')

print("\nCurrent column names:")
print(df.columns.tolist())

# Define the new order of columns
new_order = ['Date', 'Year', 'City', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'Stadium', 'Attendance', 'Time']

# Check if all columns in new_order exist in the DataFrame
missing_cols = [col for col in new_order if col not in df.columns]
if missing_cols:
    print(f"\nError: The following columns are missing in the DataFrame: {missing_cols}")
else:
    # Reorder the DataFrame columns
    df = df[new_order]

    # Display the DataFrame with reordered columns
    print("\nDataFrame after changing the order of columns:")
    print(df.columns)

Current column names:
['Year', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

DataFrame after changing the order of columns:
Index(['Date', 'Year', 'City', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals',
       'AwayTeamGoals', 'Stage', 'Stadium', 'Attendance', 'Time'],
      dtype='object')

In [ ]:
#20.Write a Pandas program to delete DataFrame row(s) whose value is 0 in the ‘HomeTeamGoals’ columns.
import pandas as pd

df = pd.read_csv('AfricaCupofNationsMatches.csv')

df = df[df['HomeTeamGoals'] != 0]

print(df.head(30))

    Year       Date Time      HomeTeam              AwayTeam  HomeTeamGoals  \
0   1957  10-Feb-57  NaN        Sudan                  Egypt            1.0
1   1957  10-Feb-57  NaN     Ethiopia           South Africa            NaN
2   1957  16-Feb-57  NaN        Egypt               Ethiopia            4.0
3   1959  22-May-59  NaN         Egypt              Ethiopia            4.0
4   1959  25-May-59  NaN        Sudan               Ethiopia            1.0
5   1959  29-May-59  NaN         Egypt                 Sudan            2.0
6   1962  14-Jan-62  NaN     Ethiopia                Tunisia            4.0
7   1962  18-Jan-62  NaN         Egypt                Uganda            2.0
8   1962  20-Jan-62  NaN      Tunisia                 Uganda            3.0
9   1962  21-Jan-62  NaN     Ethiopia                  Egypt            4.0
10  1963  24-Nov-63  NaN        Ghana                Tunisia            1.0
11  1963  26-Nov-63  NaN        Ghana               Ethiopia            2.0
12  1963  28-Nov-63  NaN     Ethiopia                Tunisia            4.0
13  1963  24-Nov-63  NaN         Egypt               Nigeria            6.0
14  1963  26-Nov-63  NaN         Egypt                 Sudan            2.0
15  1963  28-Nov-63  NaN        Sudan                Nigeria            4.0
16  1963  30-Nov-63  NaN         Egypt              Ethiopia            3.0
17  1963   1-Dec-63  NaN        Ghana                  Sudan            3.0
18  1965  12-Nov-65  NaN      Tunisia               Ethiopia            4.0
20  1965  19-Nov-65  NaN      Senegal               Ethiopia            5.0
21  1965  12-Nov-65  NaN        Ghana    Congo-Léopoldville            5.0
22  1965  14-Nov-65  NaN  Ivory Coast    Congo-Léopoldville            3.0
23  1965  19-Nov-65  NaN        Ghana            Ivory Coast            4.0
25  1965  21-Nov-65  NaN        Ghana                Tunisia            3.0
26  1968  12-Jan-68  NaN     Ethiopia                 Uganda            2.0
27  1968  12-Jan-68  NaN  Ivory Coast                Algeria            3.0
28  1968  14-Jan-68  NaN     Ethiopia            Ivory Coast            1.0
29  1968  14-Jan-68  NaN      Algeria                 Uganda            4.0
30  1968  16-Jan-68  NaN  Ivory Coast                 Uganda            2.0
31  1968  16-Jan-68  NaN     Ethiopia                Algeria            3.0

    AwayTeamGoals              Stage  \
0             2.0         Semifinals
1             NaN         Semifinals
2             0.0              Final
3             0.0   Final Tournament
4             0.0   Final Tournament
5             1.0   Final Tournament
6             2.0         Semifinals
7             1.0         Semifinals
8             0.0  Third place match
9             2.0              Final
10            1.0            Group A
11            0.0            Group A
12            2.0            Group A
13            3.0            Group B
14            2.0            Group B
15            0.0            Group B
16            0.0  Third place match
17            0.0              Final
18            0.0            Group A
20            1.0            Group A
21            2.0            Group B
22            0.0            Group B
23            1.0            Group B
25            2.0              Final
26            1.0            Group A
27            0.0            Group A
28            0.0            Group A
29            0.0            Group A
30            1.0            Group A
31            1.0            Group A

                                 SpecialWinConditions                 Stadium  \
0                                                 NaN       Municipal Stadium
1   Ethiopia  wins due to disqualification of othe...                     NaN
2                                                 NaN       Municipal Stadium
3                                                 NaN   Prince Farouk Stadium
4                                                 NaN   Prince Farouk Stadium
5                                                 NaN   Prince Farouk Stadium
6                                                 NaN  Hailé Sélassié Stadium
7                                                 NaN  Hailé Sélassié Stadium
8                                                 NaN  Hailé Sélassié Stadium
9                               win after extra time   Hailé Sélassié Stadium
10                                                NaN    Accra Sports Stadium
11                                                NaN    Accra Sports Stadium
12                                                NaN    Accra Sports Stadium
13                                                NaN   Kumasi Sports Stadium
14                                                NaN   Kumasi Sports Stadium
15                                                NaN   Kumasi Sports Stadium
16                                                NaN    Accra Sports Stadium
17                                                NaN    Accra Sports Stadium
18                                                NaN    Stade Chedli Zouiten
20                                                NaN    Stade Chedli Zouiten
21                                                NaN   Stade Bou Ali Lahouar
22                                                NaN       Stade Taïeb Mhiri
23                                                NaN       Stade Ahmed Bsiri
25                              win after extra time     Stade Chedli Zouiten
26                                                NaN  Hailé Sélassié Stadium
27                                                NaN  Hailé Sélassié Stadium
28                                                NaN  Hailé Sélassié Stadium
29                                                NaN  Hailé Sélassié Stadium
30                                                NaN  Hailé Sélassié Stadium
31                                                NaN  Hailé Sélassié Stadium

            City  Attendance
0       Khartoum     30000.0
1            NaN         NaN
2       Khartoum     30000.0
3          Cairo     30000.0
4          Cairo     20000.0
5          Cairo     30000.0
6    Addis Ababa     30000.0
7    Addis Ababa     30000.0
8    Addis Ababa         NaN
9    Addis Ababa         NaN
10         Accra         NaN
11         Accra         NaN
12         Accra         NaN
13        Kumasi         NaN
14        Kumasi         NaN
15        Kumasi         NaN
16         Accra         NaN
17         Accra         NaN
18         Tunis     16000.0
20         Tunis         NaN
21        Sousse         NaN
22          Sfax         NaN
23       Bizerte         NaN
25         Tunis         NaN
26   Addis Ababa     20000.0
27   Addis Ababa     20000.0
28   Addis Ababa     25000.0
29   Addis Ababa     25000.0
30   Addis Ababa     15000.0
31   Addis Ababa     20000.0